body {
	background-color: #2d5986;
	background-image: url("bluemoon.jpg");
	background-attachment: fixed;
}
header {
	background-color: #c65353;
	background-image: url("bluebby.jpg");
	background-position: right 10px top 10px;
	background-repeat: no-repeat;
	height: 100px;
	padding: 10px;
	padding-left: 20px;
	transition: background 2s, transform 2s;
}
footer {
	background-color: #c65353;
	color: #000d1a;
	font-family: couriernew,lucidaconsole;
	text-align: center;
	padding: 10px;
}
#content {
	background-color: #c6d9eb;
	padding: 20px;
	min-height: 950px;
	text-align: right;
}
header, footer, #content {
	border-style: inset;
	border-width: 1px;
	border-color: black;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	box-shadow: 5px 5px 5px black;
}
h1 {
	color: #391414;
	font-size: 300%;
	font-family: cambria,courier;
}
h2 {
	color: #4d0000;
	font-family: verdana, arial;
	border-style: inset;
	border-width: 5px;
	border-color: #ff9999;
}
.floatImg {
	float: left;
	margin: 10px 20px;
}
